---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

// const socialCount = SOCIALS.filter(social => social.active).length;
---

<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
  />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>

<Layout>
  <Header />
  <main id="main-content">
    <section id="About">
      <h1 class="text-5xl">AlpSec</h1>
    </section>

    <section id="featured">
      <h2>Where to find us</h2>
      <div id="map"></div>

      <Hr />
      {
        featuredPosts.length > 0 && (
          <>
            <section id="featured">
              <h2>Latest Posts</h2>
              <ul>
                {featuredPosts.map(({ data, slug }) => (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                ))}
              </ul>
            </section>
            {recentPosts.length > 0 && <Hr />}
          </>
        )
      }
      {
        recentPosts.length > 0 && (
          <section id="recent-posts">
            <h2>Recent Posts</h2>
            <ul>
              {recentPosts.map(
                ({ data, slug }, index) =>
                  index < SITE.postPerIndex && (
                    <Card
                      href={`/posts/${slug}/`}
                      frontmatter={data}
                      secHeading={false}
                    />
                  )
              )}
            </ul>
          </section>
        )
      }

      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts/">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>

    <Footer />
  </main>

  <style>
    main {
      @apply mt-10;
    }

    /* ===== Featured & Recent Posts Sections ===== */
    #featured,
    #recent-posts {
      @apply pb-6 pt-12;
    }
    #featured h2,
    #recent-posts h2 {
      @apply text-2xl font-semibold tracking-wide;
    }
    .all-posts-btn-wrapper {
      @apply my-8 text-center;
    }
  </style>
</Layout>
