---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { SITE } from "@config";
import { Image } from "astro:assets";

import bpn from "../assets/images/bpn.png";
import makerspace from "../assets/images/makerspace-244px.png";
import teledrones from "../assets/images/teledrones.png";
import easyplus from "../assets/images/easyplus.webp";
import passgenau from "../assets/images/passgenau.svg";
import pwndlabs from "../assets/images/pwndlabs.png";
import cybersecurityaustria from "../assets/images/CSA-Logo-300x94.png";
import htlvillach from "../assets/images/htlvillach.svg";
import aau from "../assets/images/aau.png";
import acsc from "../assets/images/Logo_ACSC_RGB-small.png";
import startupcarinthia from "../assets/images/startup-carinthia-verein-logo.png";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`Partner | ${SITE.title}`}>
  <Header activeNav="partner" />
  <main id="main-content" class="pb-18">
    <section id="partner">
      <h1>Infrastruktur Partner</h1>
      <div class="flex justify-center">
        <div class="sponsor-wrapper">
          <a href="https://www.makerspace-carinthia.com/">
            <Image
              src={makerspace}
              alt="Makerspace Carinthia"
              class="sponsor"
            />
          </a>
        </div>
      </div>
    </section>
    <section id="sponsoren">
      <h2>Sponsoren</h2>
      <div class="flex justify-center">
        <div class="sponsor-wrapper">
          <a href="https://www.bpn-group.com/">
            <Image src={bpn} alt="BP Networks" class="sponsor" />
          </a>
        </div>
        <!-- <div class="sponsor-wrapper">
          <a href="https://www.tele-drones.com/">
            <Image src={teledrones} alt="Teledrones" class="sponsor" />
          </a>
        </div> -->
      </div>
    </section>
    <section id="network">
      <h2>Netzwerk</h2>
      <div class="flex flex-wrap justify-center">
        <div class="sponsor-wrapper">
          <a href="https://verbotengut.at/">
            <Image
              src={cybersecurityaustria}
              alt="Cybersecurity Austria"
              class="sponsor"
            />
          </a>
        </div>
        <div class="sponsor-wrapper">
          <a href="https://www.htl-villach.at/">
            <Image src={htlvillach} alt="HTL Villach" class="sponsor" />
          </a>
        </div>
        <div class="sponsor-wrapper">
          <a href="https://acsc.land/">
            <Image
              src={acsc}
              alt="Austrian Cyber Security Challenge"
              class="sponsor"
            />
          </a>
        </div>
        <!-- <div class="sponsor-wrapper">
          <a href="https://www.aau.at/">
            <Image
              src={aau}
              alt="Alpenadria Universität Klagenfurt"
              class="sponsor"
            />
          </a>
        </div> -->
        <div class="sponsor-wrapper">
          <a href="https://pwnd.at">
            <Image src={pwndlabs} alt="PWND Labs" class="sponsor" />
          </a>
        </div>
        <div class="sponsor-wrapper">
          <a href="https://passgenau.digital/">
            <Image src={passgenau} alt="Passgenau.digital" class="sponsor" />
          </a>
        </div>
        <!-- <div class="sponsor-wrapper">
          <a href="https://easyplus.media/">
            <Image src={easyplus} alt="easyplus.media" class="sponsor" />
          </a>
        </div> -->
        <!-- <div class="sponsor-wrapper">
          <a href="https://startupcarinthia.com/">
            <Image
              src={startupcarinthia}
              alt="startup carinthia"
              class="sponsor"
            />
          </a>
        </div> -->
      </div>
    </section>
    <section id="call-to-action">
      <div class="my-8 text-center text-2xl underline">
        <LinkButton href="mailto:contact@alp-sec.org"
          >Werde Partner oder Sponsor</LinkButton
        >
      </div>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mt-10;
  }
  .sponsor-wrapper {
    @apply m-5 h-32 w-48;
  }
  .sponsor {
    @apply object-contain;
  }
  h1,
  h2 {
    @apply text-center text-2xl;
  }
</style>
